/*========== GENERAL ===============*/
*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$tipografia: sans-serif;

a {
    text-decoration: none;
    color: #000;
}

body, p, a, span {
    font-family: $tipografia;
}

h1 {
    color: #fff;
}

h2, h3, h4, h5, h6 {
    font-family: $tipografia;
}

h2.title {
    margin-bottom: 48px;
}

img {
    max-width: 100%;
    border-style: none;
    border: 0;
}

a:hover {
    color: rgba(92,95,236,0.6);
}

.breadcrumbs {
    width: 100%;
    padding: 1em 0;
}

.breadcrumbs ul {
    font-size: 1rem;
    margin-bottom: 0.8em;
    padding-left: 12px;
}

.breadcrumbs li {
    display: inline;
}

/* footer */

div#redes-footer {
    font-size: 25px;
}

#redes-footer a i {
    color: #fff;
}

#redes-footer a i {
    color: #fff;
}

/* somos */

p.text-somos {
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    color: #15305d;
}

/* contacto */

h1.text-contacto {
    color: #000;
}